@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background: url('../public/assets/banner.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  width: 100% !important;
}

.banner02 {
  background: url('../public/assets/banner02.svg') !important;
  background-color: #0b65c6 !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  width: 100% !important;
}

.banner03 {
  background: url('../public/assets/banner03.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  width: 100% !important;
}

.banner04 {
  background: url('../public/assets/banner04.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  width: 100% !important;
}

.fadeLeftMini {
  animation: fadeLeftMini 1s !important;
  animation-fill-mode: both !important;
}

.fadeRightMini {
  animation: fadeRightMini 1s !important;
  animation-fill-mode: both !important;
}

@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}